# Default owners for everything
* @anirudhk-tech @asclearuc @dsapandora @dylan-savage @jmaionchi @jmaionchi-ai @JoshuaDarron @kwit75 @luisson10 @Rod-Christensen @ryan-t-christensen @shashidharbabu @stepmikhaylov
