# The URI is where servers will start for dev mode
ROCKETRIDE_URI=http://localhost:5565

# Used when connecting to your server specified above
ROCKETRIDE_APIKEY=[your API key]

# Enter your API key or host address for one of the following services
# These are used for the unit tests. You need to provide only one.
#
# ROCKETRIDE_APIKEY=[your API key]
# ROCKETRIDE_APIKEY_OPENAI=[your API key]
# ROCKETRIDE_APIKEY_ANTHROPIC=[your API key]
# ROCKETRIDE_APIKEY_GEMINI=[your API key]
# ROCKETRIDE_HOST_OLLAMA=[your API key]
