# The URI is where servers will start for dev mode
ROCKETRIDE_URI=http://localhost:5565

# Used when connecting to your server specified above
ROCKETRIDE_APIKEY=[your API key]

# Enter your API key or host address for one of the following services
# These are used for the unit tests. You need to provide only one.
#
# ROCKETRIDE_APIKEY=[your API key]
# ROCKETRIDE_OPENAI_KEY=[your API key]
# ROCKETRIDE_ANTHROPIC_KEY=[your API key]
# ROCKETRIDE_GEMINI_KEY=[your API key]
# ROCKETRIDE_OLLAMA_HOST=[ollama host URL]
