{
    "semi": true,
    "singleQuote": true,
    "useTabs": true,
    "trailingComma": "es5",
    "printWidth": 1000,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSameLine": false,
    "overrides": [
        {
            "files": "**/scripts/**/*.{js,cjs,mjs}",
            "options": {
                "printWidth": 120,
                "tabWidth": 4
            }
        }
    ]
}

