# Plugin DeepSeek core
openai
langchain-openai
transformers
tokenizers

# Transformers deps
accelerate
huggingface-hub
pyyaml
filelock
regex
tqdm
safetensors

# LangChain deps
langchain-core
langchain
