# Plugin Bedrock core
langchain-aws
transformers
tokenizers

# Transformers deps
accelerate
huggingface-hub
pyyaml
filelock
regex
tqdm
safetensors

# LangChain deps
langchain-core
langchain

# AWS SDK deps
boto3
botocore
