# Plugin Vertex AI core
langchain-google-vertexai
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-aiplatform

# LangChain deps
langchain-core
langchain

# Google deps
google-api-core
googleapis-common-protos
proto-plus
protobuf
